
* {
    margin: 0;
    padding: 0;
}
body {
    display: block;
    font-family: $sansSerif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.45em;
    color: $textColor;
    padding-top: 100px;
}

html {
    font-size: 16px;
}
h1, h2, h3  {
    color: $mainColor;
    margin: 0;
}
a {
    color: $mainColor;
    text-decoration:  none;
    transition: all .092s ease-in 0s;
}
a:hover {
    color: $mainColor;
    text-decoration:  none;
}

.borderR {
    border-right: 1px solid #eee;
}