#Infoportal{
	padding: 100px 0 0;

	/*Infoportal Tab*/
	.nav-tabs {
	    border-bottom: 0px solid #dee2e6;
	}
	h1{
		margin: 0 0 30px;
	    font-family: $serif;
	    font-style: italic;
	    font-size: 2.5em;
	    line-height: 1.05em;
	    word-wrap: break-word;
	}
	h3{
		font-family: $serif;
		color: $textColor2;
		font-size: 1.125em;
		margin: 0 0 10px;
	}
	.infoSec{
		margin-bottom: 30px;
		img{
			width: 100%;
		}
		h4{
			font-weight: 700;
		    font-size: 1em;
		    padding: 10px 0;
		    border-top: 1px solid $textColor2;
		    border-bottom: 1px solid $textColor2;
		    margin: 15px 0;
		}
		a{
			color: $textColor2;

			&:hover{
				color: $mainColor;
			}
		}
	}
	.infoTags {
		padding: 20px 0px 0 20px;
		a{
		font-family: $serif;
	    font-style: italic;
	    font-size: 1.2em;
	    line-height: 1.45;
	    float: left;
	    background-color: #eeeeee;
	    border-radius: 4px;
	    padding: 0 2px;
	    margin: 0 5px 5px 0;
		color: $textColor2;

		}
	}

	.infoportal-tab{
		background: #ddd;
		box-sizing: border-box;

	    .tab-content>.tab-pane {
		    padding: 50px 0;
		}

	}

	/*Kontakt Area*/
	#Kontakt{
		margin: 100px 0;
		text-align: center;
		.icons {
		    padding-top:  20px;
		    margin:  0 auto;
		    display:  inline-block;

		    a {
			    background-image:  url("../img/Icons-Sprite.png");
			    background-repeat:  no-repeat;
			    display:  block;
			    margin:  0 auto;
			    width:  64px;
			    padding-top:  80px;
			    text-align:  center;
			    color:  $textColor2;
			    float:  left;
			    margin-right:  35px;
			}
			a:last-child {
			    margin-right:  0;
			}
			.phone {
			    background-position:  0 0;
			}
			.mail {
			    background-position:  -65px 0;
			}
			.map {
			    background-position:  -130px 0;
			}
			.news {
			    background-position:  -195px 0;
			}

		}

	}


	/*Testimony Carosel*/
	#testimony{
		position: relative;

		.overlayTop {
		    position:  absolute;
		    top:  0;
		    left:  0;
		    right:  0;
		    height:  150px;
		    background-image:  url(../img/Testimonial-Overlay.png);
		    background-position:  top center;
		    background-repeat:  no-repeat;
		    background-size:  100% 670px;
		}
		.overlayBottom {
		    position:  absolute;
		    bottom:  0;
		    left:  0;
		    right:  0;
		    height:  150px;
		    background-image:  url(../img/Testimonial-Overlay.png);
		    background-position:  bottom center;
		    background-repeat:  no-repeat;
		    background-size:  100% 670px;
		}

		.carousel-caption {
		    background-color: rgba(255, 255, 255, 0.9);
		    height: 250px;
		    top: 35%;
		    color: $textColor;
		    left: 42%;
		    right: 12%;
		    text-align: left;
		    text-shadow: none;
		    z-index: 10;
		    font-family: $serif;

		    h3{
				color: $mainColor;
				font-size: 1.4em;
		    }
		    h4{
				color: $mainColor;
				font-size: 1.2em;
				font-style: italic;
		    }
		}
		.carousel-control-prev {
		    left: 30%;
		}
	}

}