@import "variables";
@import "_default";

@import "_header";
@import "_welcome";
@import "_infoportal";
@import "_faq";
@import "_fahrzeugfinder";

@import "_other";

@import "_footer";










.googleMapArea{
	position: relative;
}
.googleMapArea iframe{
	width: 100%;
	height: 800px;
}

.map-overlay {
    position:  absolute;
    top:  0px;
    right:  0px;
    left:  0px;
}
.map-overlay .fill {
    height:  50px;
    width:  100%;
    background-color:  white;
}
.map-overlay img {
    width:  100%;
    height:  auto;
}


/*FaQ*/


